*{
	padding: 0;
	margin: 0;
}

html, body{
	font-family: 'Roboto', sans-serif;
	color: black;
	min-height: 100%;
	height:100%;
	min-width: 100%;
	width:100%;
	margin: 0;

}

a:link{
    color: black;
    text-decoration: none;
}

a:hover{
	text-decoration: underline;
	font-weight: bold;
}

a:visited{
    color: gray;
    text-decoration: none;
}


.header{
    width: auto;
	text-align: center;
}


#main-title{
	font-size: 40px;
	font-style: italic;
}

#subtitle{
	font-size: 20px;
}

.hashtags{
	font-size: 11px; 
	margin-left: 270px;
}

.first-container {
    width: 80%;
    padding-left: 12%;
    padding-top: 4%;
}

.second-container {
    width: 80%;
    padding-left: 12%;
    padding-top: 6%;
}

.third-container{
    width: 80%;
    padding-left: 12%;
	padding-top: 7%;
	padding-bottom: 2%;
}

.closure {
    display: inline-block;
    width: 45%;
}

.defrost {
    display: inline-block;
    width: 45%;
}

.project {
    display: inline-block;
    width: 45%;
}

.dining {
    display: inline-block;
    width: 45%;
}


.deadpool{
    display: inline-block;
    width: 45%;
}

.thanks{
    display: inline-block;
    width: 45%;
    vertical-align: top;
}


